@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* 为动画效果添加类名 */
.animate-moveUp {
  animation: moveUp 1s ease-in-out forwards;
}
